body{
  background-color: green;
}

#items-list {
  list-style-type: none;
}

h1 {
  color: #FFFFFF;
  display:flex;
  justify-content: center;
}

.button{
  display:flex;
  justify-content: center;
}